/* 👉 3.2 */

body {
  background-color: #59AF68;
  font-family: Helvetica, Arial, sans-serif;
}

.backgroundImage {
  background-image: url(lego-blue-1.png);
  width: 500px;
  height: 500px;
  margin: 64px auto;
}

.backgroundImage:hover {
  background-image: url(lego-red-1.png);
  cursor: crosshair;
}

.text {
  width: 50%;
  margin: 96px auto;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  text-align: center;
}

.text * {
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

h2 {
  color: rgb(255, 0, 0);
  font-size: 40px;
  text-align: left;
}

h3 {
  font-size: 16px;
  text-align: right;
}

h3 a:link,
h3 a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

h3 a:hover {
  color: white;
}
